* text=auto

*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.toml text eol=lf

*.bat text eol=crlf
run.bat text eol=crlf

*.csv text eol=crlf
*.xlsx binary
*.png binary
*.jpg binary